:root {
    --display: flex;
    --desxtop-pad: 250px;
    --mobile-pad: 20px;
    --align-center: center;
    --color: #3577f0
}

.cart {
    padding: 50px var(--desxtop-pad);
    
}

.cartlist {
    display: var(--display);
    gap: 40px;
    align-items: var(--align-center);
    padding: 30px 0px;
    flex-wrap: wrap;
    border-bottom: 1px solid #dfdfdf;
}

.cartlist .span, .quantity input {
    text-align: center;
    border: none;
    outline: 0;
    width: 35px;
    height: 35px;
    background-color: rgb(234, 234, 234);
    border-radius: 50%;
    padding: 5px;
}

.cartlist img{
    width: 90px;
    height: 90px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 8px;
}

.cartlist p {
    flex: 1;
}
.cartlist h2 {
    flex: 1;
    flex-basis: 300px;
}

.quantity {
    display: var(--display);
    align-items: var(--align-center);
    gap: 10px;
    flex: 1;
}

.cartorder {
    width:500px;
    padding: 25px;
    border-radius: var(--radius);
    background-color: #f9f3f0;
    height: fit-content;
    justify-self: end;
    margin-top: 30px;
}

.cartorderin {
    margin-top: 20px;
    padding: 25px 15px;
    background-color: white;
    height: fit-content;
    width: 100%;
    border-radius: var(--radius);
}

.cartorderin div {
    display: var(--display);
    justify-content: space-between;
    padding: var(--mobile-pad) 0px;
    border-bottom: 1px solid #e3e3e3;
}

.proceed {
    min-width: 100%;
    margin-top: 15px;
    font-size: 20px;
    background-color: var(--color);
    border-radius: 8px;
    padding: 8px 0px;
    border: none;
    transition: transform 200ms ease-in;
    color: #fff;
}

.proceed:hover {
    transform: scale(1.03)
}

@media (max-width: 992px) {
    .cart {
        padding: 30px var(--mobile-pad);

    }
}