/*hOME PAGE*/
:root {
    --display: flex;
    --color: #3577f0;
    --align-items: center;
    --desktop-sec-pad: 250px;
    --mobile-sec-pad: 20px;
    --flexwrap: wrap
}

.homehero {
    padding: 0px var(--desktop-sec-pad);
    display: var(--display);
    gap: 30px;
}

.catlist {
    border: #ddd solid 1px;
    width: 270px;
    padding: 0px 20px;
}

.homeimagebox {
    padding: 60px var(--desktop-sec-pad);
    display: var(--display);
    flex-wrap: var(--flexwrap);
    gap: 25px;
}

.categorylist {
    position: absolute;
    top: 250;
    left: 520px;
    padding: 30px;
    width: fit-content;
    background-color: #f5f5f5;
}

/* home view products*/
.toprated, .viewproducts {
    display: var(--display);
    flex-wrap: var(--flexwrap);
    gap: 15px;
    padding: 0px var(--desktop-sec-pad) 50px var(--desktop-sec-pad);
}

.heroside {
    margin-top: 30px;
    flex: 1;
    padding: 30px 450px 30px 30px;
    align-content: center;
    border-radius: 15px;
    background: url("../images/herobackground.avif") no-repeat left center;
    background-size: cover;
}

.title {
    font-size: 15px;
    padding-bottom: 5px;
}

.content {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 400;
}

.heroside button {
    display: var(--display);
    align-items: var(--align-items);
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
    padding: 5px 0px;
    background: none;
    border: none;
    border-bottom: #000 1px solid;
    width: 125px;
}

.heroside button:hover {
    color: var(--color);
    border-bottom: var(--color) 1px solid;
    width: 120px;
}

@media (max-width: 992px) {
    .catlist {
        display: none;
    }

    .homehero {
        padding: 0px var(--mobile-sec-pad)
    }

    .homeimagebox {
        padding: 60px var(--mobile-sec-pad);
    }

    .toprated, .viewproducts {
        padding: 0px var(--mobile-sec-pad) 50px var(--mobile-sec-pad);
    }

    .heroside {
        padding: 20px;
        margin-top: 20px;
    }

    .content {
        font-size: 18px;
    }

    .heroside button {
        font-size: 16px;
        width: 105px;
    }
}