/*hOME PAGE*/
.homehero {
    padding: 0px var(--desktop-pad);
    display: var(--display);
    gap: 30px;
    margin-bottom: 30px;
}

.catlist {
    border: #ddd solid 1px;
    width: 270px;
    padding: 0px 20px;
}

.homeimagebox {
    padding: 60px var(--desktop-pad);
    display: var(--display);
    flex-wrap: var(--flexwrap);
    gap: 25px;
}

.categorylist {
    display: none;
    position: absolute;
    top: 250;
    left: 520px;
    padding: 30px;
    background-color: #f5f5f5;
    gap: 25px;
}

.categorylist a {
    color: #000;
    font-size: 10px;
}

/* home view products*/
.toprated,
.viewproducts {
    display: var(--display);
    flex-wrap: var(--flexwrap);
    gap: 15px;
}

.brands {
    display: var(--display);
    align-items: var(--align-center);
    gap: 20px;
    margin-top: 10px;
    overflow-x: scroll;
}

.heroside {
    margin-top: 30px;
    flex: 1;
    padding: 30px 450px 30px 30px;
    align-content: center;
    border-radius: 15px;
    background: url("../images/herobackground.avif") no-repeat left center;
    background-size: cover;
}

.title {
    font-size: 15px;
    padding-bottom: 5px;
}

.content {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 400;
}

.heroside button {
    display: var(--display);
    align-items: var(--align-items);
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
    padding: 5px 0px;
    background: none;
    border: none;
    border-bottom: #000 1px solid;
    width: 125px;
}

.heroside button:hover {
    color: var(--color);
    border-bottom: var(--color) 1px solid;
    width: 120px;
}

@media (max-width: 992px) {
    .catlist {
        display: none;
    }

    .homehero {
        padding: 0px var(--mobile-pad)
    }

    .homeimagebox {
        padding: 30px var(--mobile-pad);
        gap: 10px;
    }

    .toprated,
    .viewproducts {
        gap: 10px;
        padding: 0px var(--mobile-pad) 50px var(--mobile-pad);
    }

    .brands {
        gap: 10px;
    }

    .heroside {
        padding: 20px;
        margin-top: 20px;
    }

    .content {
        font-size: 18px;
    }

    .heroside button {
        font-size: 16px;
        width: 105px;
    }
}