.search {
    display: var(--display);
    flex-wrap: var(--flexwrap);
    padding: var(--mobile-pad) var(--desktop-pad);
    gap: 15px;
}

@media (max-width: 992px) {
    .search {
        padding: var(--mobile-pad);
        gap: 10px;
    }
}