/*shop*/
:root {
    --display: flex;
    --color: #3577f0;
    --align-items: center;
    --desktop-sec-pad: 250px;
    --mobile-sec-pad: 20px;
    --flexwrap: wrap
}

.shop {
    padding: 20px var(--desktop-sec-pad);
}

.shopprod {
    display: var(--display);
    flex-wrap: var(--flexwrap);
    gap: 20px;
    padding: 30px 0px;
}

.shopnav {
    display: var(--display);
    flex-wrap: wrap;
    gap: 20px;
}

.shopnav button , .error button{
    padding: 8px 30px;
    background-color: var(--color);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    padding: 40px var(--desktop-sec-pad);
}

@media (max-width: 992px) {
    .shop{
        padding: var(--mobile-sec-pad);
    }

    .error {
        padding: var(--mobile-sec-pad);
    }
    
}