.single {
    display: var(--display);
    gap: 30px;
    padding: 50px var(--desktop-pad);
}

.singleimage {
    width: 200px;
    flex: 1;
    background-color: #ededed;
    border-radius: 10px;

}

.singleimage img {
    width: 100%
}

.singleinfo {
    flex: 1;
    display: var(--display);
    flex-direction: column;
    gap: 10px;
}

.addtocart {
    padding: 20px;
    border: none;
    background-color: var(--color);
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .single {
        padding: 20px var(--mobile-pad);
        flex-direction: column;
    }

    .singleimage {
        width: 100%;
    }
}