:root {
    --display: flex;
    --desktop-pad: 200px;
    --mobile-pad: 20px;
    --align-center: center;
    --color: #3576f0;
    --align-items: center;
    --flexwrap: wrap;
    --radius: 10px
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

/*tags*/
hr {
    border: none;
    height: 1px;
    background-color: #dddddd;
}

img {
    object-fit: cover;
}

header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 1000;
}

main {
    height: 100vh;
    overflow-y: scroll;
}

.section {
    padding: 30px var(--desktop-pad);
}

/*header*/
.topheader {
    display: var(--display);
    align-items: var(--align-center);
    padding: 30px var(--desktop-pad);
    gap: 40px;
}

.topheader input {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.searchbar {
    flex: 1;
    border: 1px solid rgba(182, 182, 182, 0.644);
    border-radius: 20px;
    padding: 0px 15px;
    display: var(--display);
    align-items: var(--align-center);
}

.logo {
    display: var(--display);
    align-items: var(--align-center);
}

.header {
    background-color: #f7f7f7;
    padding: 0px var(--desktop-pad);
    display: var(--display);
    justify-content: space-between;
    align-items: var(--align-center);
    gap: 30px
}

.headerbutton {
    padding: 12px 20px;
    font-size: 20px;
    display: var(--display);
    align-items: var(--align-center);
    gap: 10px;
    border: none;
    width: 270px;
    background-color: var(--color);
    color: white;
}

.nav {
    display: var(--display);
    gap: 40px;
    color: #0F172A;
}

.nav a {
    color: rgb(0, 0, 0);
}

.nav a:hover {
    color: var(--color);
}

.relevantgroup {
    display: var(--display);
    align-items: var(--align-center);
    gap: 10px;
}

.relevanticons {
    font-size: 25px;
    color: #00000081;
}

.relevanticons:hover {
    color: var(--color);
}

.cart-badge {
    position: relative;
    top: -15px;
    right: 10px;
    background: var(--color);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.menu {
    display: none;
}

/*category nav*/
.categorynav {
    padding: 15px 0px;
    background-color: white;
    color: rgb(134, 134, 134);
    display: var(--display);
    align-items: var(--align-center);
    gap: 10px;
}

.categorynav:hover {
    color: #000
}

.categorynav span {
    font-size: 20px;
}

.categorynav p {
    font-size: 18px;
    flex: 1;
}

/*image box*/
.imagebox {
    border: solid 1px rgb(218, 218, 218);
    flex-grow: 1;
    flex-basis: 250px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.imagebox:hover {
    box-shadow: 0px 0px 5px 2px #e6e6e6;
}

.imagebox h1 {
    font-size: 20px;
    padding-top: 10px;
}


/*product one*/
.productone {
    flex-basis: 250px;
    flex-grow: 1;
    border-radius: 15px;
    padding-top: 10px;
}

.productimg,
.producttwoimg {
    padding: 25px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.wish-icon {
    border-radius: 50%;
    padding: 8px 10px 5px 10px;
    background-color: #3577f0;
}

.productimg div {
    transform: translateY(-300%);
    display: var(--display);
    align-items: var(--align-center);
    transition: transform 0.4s ease-in-out;
    gap: 10px;
}

.productimg div button,
.clear {
    background: var(--color);
    border: none;
    color: white;
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 3px;
}

.productone:hover .productimg div {
    transform: translateY(0%);
    gap: 10px;
}

.productone h1 {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    padding: 7px 0px;
}

.productone p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

/*product two*/
.producttwocart {
    width: 100%;
    border: none;
    background-color: var(--color);
    padding: 10px 0px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

/*sub heading*/
.subheading .iconbox {
    display: var(--display);
    align-items: var(--align-center);
    gap: 6px;
}

.subheading h1 {
    padding: 10px 0px;
}

/*branding*/
.brand {
    background-color: #ececec;
    padding: 15px 30px;
    margin-bottom: 10px;
    min-width: fit-content;
    text-align: center;
    border-radius: 7px;
}

.brand h1 {
    font-size: 25px;
    color: #000;
}

/*page banners*/
.pagebanners {
    padding: 65px var(--desktop-pad);
    background-color: #e9e9e9;
}

.pagebanners p {
    padding-top: 10px;
    font-size: 20px;
    color: black
}

.downhead {
    display: flex;
    justify-content: space-between;
}

/*footer*/
.footer {
    background: var(--color);
    color: #ffffff;
    padding: 60px var(--desktop-pad);
}

.footer-grid {
    display: var(--display);
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
}

.footer-grid div {
    flex: 1;
    flex-basis: 250px;
}

.footer h2,
.footer h4,
footer h1 {
    color: #fff;
    margin-bottom: 0.75rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #bbbbbb;
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-size: 0.875rem;
}

/*mobile nav*/
.mobilenav {
    padding: 25px;
    width: 220px;
    background-color: #e7e7e7;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 500ms ease;
    z-index: 10000;
    inset: 0;
}

.mobilenav nav {
    padding-top: 20px;
    display: var(--display);
    gap: 10px;
    flex-direction: column
}

.mobilenav nav a {
    color: white;
    background-color: var(--color);
    padding: 10px;
    display: var(--display);
    align-items: var(--align-center);
    gap: 8px;
    border-radius: 4px
}

.mobilenav nav a:hover {
    background-color: #606060;
}

.imgSection {
    padding: 50px var(--desktop-pad);
    display: var(--display);
    gap: 50px;
    align-items: var(--align-center)
}

.imgSection div {
    flex: 2;
}

.icon {
    border-radius: 5px;
    padding: 20px;
    flex-basis: 300px;
    flex-grow: 1;
    box-shadow: 0px 0px 4px 1px #e7e7e7;
}

.icon h3 {
    padding: 10px 0px;
}

.team {
    flex-basis: 200px;
    flex: 1;
}

.team img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .team {
        flex-basis: 200px;
        
    }

    .section {
        padding: 20px var(--mobile-pad);
    }

    .topheader {
        padding: 20px var(--mobile-pad);
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 20px;
    }

    .searchbar {
        width: 100%;
    }

    .header {
        padding: 10px var(--mobile-pad);
    }

    .headerbutton {
        padding: 8px 15px;
        font-size: 15px;
        width: 140px;
        border-radius: 10px;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
    }

    .imagebox {
        flex-basis: 120px;
        padding: 10px;
    }

    .imagebox img {
        width: 40px;
    }

    .imagebox h1,
    .subheading h1,
    .brand h1 {
        font-size: 15px;
    }

    .brands {
        margin: 10px var(--mobile-pad) 50px var(--mobile-pad);
    }

    .brand {
        width: 220px;
        padding: 10px;
    }

    .downhead {
        font-size: 10px;
    }

    .productone {
        flex-basis: 120px;
    }

    .productone h1 {
        font-size: 14px;
        padding: 3px 0px;
    }

    .productone p {
        font-size: 17px;
        padding-bottom: 10px;
    }

    .productimg,
    .producttwoimg {
        padding: 10px;
        height: 200px;
        background-size: contain;
    }

    .productimg div {
        transform: translateY(0%);
    }

    .productimg div button {
        background: var(--color);
        border: none;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
    }

    .wish-icon {
        border-radius: 50%;
        padding: 5px 7px 2px 7px;
        background-color: #3577f0;
    }

    .pagebanners {
        padding: 40px var(--mobile-pad);
    }

    .pagebanners h1 {
        font-size: 20px;
    }

    .pagebanners p {
        font-size: 16px;
    }

    .footer {
        padding: 50px var(--mobile-pad);
    }

    .imgSection {
        padding: var(--mobile-pad);
        gap: 20px;
        flex-direction: column;
        align-items: flex-start
    }

    .imgSection img {
        width: 100%;
    }


}